@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&family=Noto+Serif+KR:wght@200;300;400;500;600;700&display=swap');
html, body, h1, h2, h3, h4, h5, h6, div, p, blockquote, pre, code, address, ul, ol, li, menu, nav, section, article, aside, dl, dt, dd, table, thead, tbody, tfoot, label, caption, th, td, form, fieldset, legend, hr, input, button, textarea, object, figure, figcaption {margin:0; padding:0;}
ul, ol, li {list-style:none;}
a {color:inherit; text-decoration:none; outline:none;}
input, button, select, fieldset, textarea {border-radius: 0; appearance: none; border: 0; font-family: inherit;}
input:focus, select:focus {outline: 0;}
button:focus, a:focus, button, a {outline: none;}
h1, h2, h3, h4, strong, th {color:inherit;}
em {font-style: normal;}
html, body {font-family: 'Noto Sans KR', sans-serif;}
html.not-scroll, html.not-scroll body {overflow-y: hidden;}
html {color: #222; scroll-behavior: smooth;}
.skip, legend {overflow: hidden; position: absolute; width: 1px; height: 1px; padding: 0; border: 0; clip: rect(1px, 1px, 1px, 1px);}
* {box-sizing: border-box; word-break: keep-all; margin: 0; padding: 0;}
i{
    font-style: normal;
}
a:focus, button:focus, input:focus, select:focus {outline: 1px dashed #ddd;}
button {cursor: pointer; background-color: transparent;}
br {font-size: 0;}

/* input type number 에서 화살표 제거 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/* 전체 */
.wrap{
    width: 100%;
}

section{
    padding: 0 170px;
    /* outline: solid 1px rgb(0, 255, 81); */
    height: 50vw;
}
.news, .sns{
    height: 60vw;
}

footer{
    padding: 0 170px;
    height: 30vw;
    /* outline: solid 1px rgb(111, 0, 255); */
}

i{
    font-style: normal;
}

/* 기본 레이아웃 */

.layout {
    max-width: 1400px; 
    margin: 0 auto;
}


/* 상단 헤더 */
.header {
    position: absolute; 
    top: 0; left: 0; 
    width: 100%; 
    height: 6vw; 
    overflow: hidden; 
    background-color: #fff; 
    transition: all 0.5s; 
    z-index: 99;
    padding: 0 170px;
    border-bottom: solid 1px #bababa;
}
.header .header-inner {
    position: relative; 
    text-align: center; 
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    height: 100%;
    /* outline: solid 1px rgb(136, 0, 255); */
}
.header .logo {
    /* outline: solid 1px rgb(136, 0, 255); */
    padding: 1vw 0;
}
.header .logo img {
    display: block; 
    width: 12vw;
}
.header .header-gnb {
    display: inline-block;
}
.header .header-gnb .gnb-depth-1 {
    display: flex; 
    text-align: center;
}
.header .header-gnb .depth-1 {
    position: relative;
}
.header .header-gnb .depth-1 > a {
    display: flex; 
    align-items: center; 
    height: 6vw; 
    padding: 0 1vw; 
    font-size: 1.1vw; 
    font-weight: 500;
    white-space : nowrap
}
.header .header-gnb .depth-1 > a > span {
    position: relative; 
    display: block; 
    line-height: normal;
}
.header .header-gnb .depth-1 > a > span::before {
    content: ""; 
    display: block; 
    position: absolute; 
    left: -2px; bottom: 0; 
    width: 0; 
    height: 11px; 
    transition: all 0.5s; 
    transition-timing-function: 
    cubic-bezier(0.165, 0.84, 0.44, 1); 
    z-index: -1; 
    background-color: #FF8A00;
}
.header .header-gnb .depth-1.current > a > span::before {
    content: ""; 
    display: block; 
    width:calc(100% + 4px);
}
.header .header-gnb .depth-1 .gnb-depth-2 {
    position: absolute; 
    top: 100%; left: 0; 
    width: 100%; 
    padding-bottom: 45px; 
    visibility: hidden; 
    opacity: 0; 
    transition: all 0.1s;
}
.header.open .header-gnb .depth-1 .gnb-depth-2 {
    visibility: visible; 
    opacity: 1; 
    transition: all 0.5s;
}
.header .header-gnb .depth-2 > a {
    display: block; 
    padding: 8px 0; 
    font-size: 0.9vw; 
    color: #777; 
    transition: color 0.1s;
    white-space : nowrap
}
.header .header-gnb .depth-2 > a:hover,
.header .header-gnb .depth-2 > a:focus {
    color: #ff7300; 
    font-weight: 500;
}
/* side wrap */
.side_wrap{
    display: block;
    /* outline: solid 1px rgb(136, 0, 255); */
    width: 8vw;
    height: 6vw;
}
.util_menu {
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    /* outline: solid 1px rgb(136, 0, 255); */
    padding: 1vw;
}

.util_menu li {
    margin-left: 1vw;
    position: relative; 
}

.lang_menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    height: 50px;
    width: 50px;
    text-align: center;
    color: black;
}

.lang_menu li {
    display: block; /* 리스트 항목을 수직으로 배열 */
}

.lang_btn i{
    font-size: 1vw;
}

.lang_menu li a{
    font-size: 1vw;
    color: black;
    font-style: none;
    margin-left: -4px;
}
.lang_btn:hover .lang_menu {
    display: block;
}

.search_header button {
    cursor: pointer;
}

.util_menu button{
        width: 1.5vw;
        height: 1.5vw;
        background-color: transparent;
        border: 0 none;
        color: #000;
}

/* 3d */
.visual{
    padding: 0;
    margin: 0;
}
/* .video{
    background-color: rgb(0, 0, 0);
    width: 1920px;
    height: 1080px;
    object-fit: contain;
    overflow: clip;
    overflow-clip-margin: content-box;
} */
.visual_inner {
    overflow: hidden;
    width: 100%;
    height: 55vw;
    position: relative;
    cursor: pointer;
}

#canvas {
    width: 100%;
    height: 100%;
}
#backgroundText {
    position: absolute;
    top: 16%;
    left: 0%;
    /* transform: translate(-50%, -50%); */
    font-weight: bold;
    color: #000;
    z-index: 0;
    background-color: #fff;
    padding: 0 280px;
}

.bg_txt{
    width: 100%;
    /* outline: solid 1px rgb(255, 0, 144); */
}


.bg_txt h1, .bg_txt h2 {
    font-size: 8vw;
    text-transform: uppercase;
    font-weight: bold;
}

.bg_txt span {
    width: 100%;
    float: left;
    color: $tertiary-color;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    transform: translateY(-50px);
    opacity: 0;
    animation-name: titleAnimation;
    animation-timing-function: ease;
    animation-duration: 3s;
}

.bg_txt h1 span {
    animation-delay: 0.6s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    &:first-child {
        animation-delay: 0.7s;
    }

    &:last-child {
        color: $secondary-color;
        animation-delay: 0.5s;
    }
}

.bg_txt h2 {
    top: 0;
    position: absolute;

    span {
        animation-delay: 4.1s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        &:first-child {
            animation-delay: 4.2s;
        }

        &:last-child {
            color: $secondary-color;
            animation-delay: 4s;
        }
    }
}

.bg_txt .usechrome {
    font-size: 10px;
    color: #fff;
    font-family: helvetica, arial;
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    left: 0;
}

@keyframes titleAnimation {
    0% {
        transform: translateY(-50px);
        opacity: 0;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    }
    20% {
        transform: translateY(0);
        opacity: 1;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    }
    80% {
        transform: translateY(0);
        opacity: 1;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    }
    100% {
        transform: translateY(50px);
        opacity: 0;
        -webkit-clip-path: polygon(100% 0, 100% 0, 0 100%, 0 100%);
        clip-path: polygon(100% 0, 100% 0, 0 100%, 0 100%);
    }
}



/* NEW Arrival */
.New_inner{
    /* outline: solid 1px rgb(255, 0, 144); */
    width: 100%;
    height: 50vw;
    /* justify-content: space-between; */
    display: flex;
    gap: 2vw;
}

.title_box{
    /* outline: solid 3px rgb(13, 0, 255); */
    width: 14vw;
    height: fit-content;
    display: flex;
    margin: auto 0;
}
.title_box h2{
    line-height: 1.2;
}
.main_title{
    font-size: 4vw;
    font-size: bold;
    color: #FF8A00;
}

.product_box{
    /* outline: solid 3px rgb(0, 255, 102); */
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
}

.img_box {
    position: relative;
    margin: auto;
}

.img_box .p_img {
    width: 45vw;
    height: 32vw;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.img_box .img_arrow {
    position: absolute;
    z-index: 2;
    width: 3vw;
    height: 2.2vw;
    bottom: 1.5vw;
    right: 3vw;
}


.p_name{
    width: 30%;
    height: 32vw;
    /* outline: solid 3px rgb(229, 255, 0); */
    margin: auto;
}

.swiper_product a {
    /* outline: solid 3px rgb(255, 0, 0); */
    position: relative; 
    z-index: 2; 
    display: flex; 
    justify-content: center;      
    flex-direction: column; 
    padding: 1.3vw;
    text-align: left; 
    box-sizing: border-box; 
    
}

.swiper_product span{
    color: #000;
    font-size: 1vw;
    font-weight: 200;
    display: block;
}
.swiper_product strong{
    color: #000;
    font-size: 1.5vw;
    font-weight: 400;
    display: block;
    white-space : nowrap
}

.swiper_product li:not(:last-child) {
    width: 100%;
    border-bottom: 1px solid #b5b5b5;
}
/* 선택된 항목 */
.selected strong {
    font-weight: bold; 
}
.selected span {
    font-weight: 400; 
}

/* best p */
.best_inner{
    /* outline: solid 3px rgb(255, 0, 144); */
    width: 100%;
    height: 50vw;
    justify-content: space-between;
    display: flex;
}

.title_box2{
/*     outline: solid 3px rgb(0, 255, 72); */
    width: 328px;
    height: 450px;
    display: block;
    margin: auto;
}
.title_box2 h2{
    line-height: 1.2;
}
.p_category{
    width: 127px;
/*     outline: solid 1px rgb(255, 0, 0); */
    display: flex;
}

.p_category ul{
/*     outline: solid 3px rgb(255, 0, 144); */
    margin-top: 40px;
}
.p_category ul li{
/*     outline: solid 3px rgb(255, 0, 144); */
    margin-bottom: 20px;
}
.p_category ul li a{
    color: #c2c2c2;
}

.p_category ul li a::before {
    content: ""; 
    display: inline-block; 
    width: 8px; 
    height: 8px; 
    background-color: #c2c2c2; 
    border-radius: 50%;
    margin-right: 10px; 
    vertical-align: middle; 
}

.p_category ul li.selected-category a {
    color: rgb(0, 0, 0) !important;
    font-weight: bold; 
}
.p_category ul li.selected-category a::before{
    content: ""; /* 가상 요소 */
    display: inline-block; 
    width: 8px; 
    height: 8px; 
    background-color: #FF8A00; 
    border-radius: 50%; 
    margin-right: 10px; 
    vertical-align: middle; 
}

.view_more{
    margin-top: 30px;
}
.view_more a{
    color: #000;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}
.view_more img{
    width: 35px;
    height: 24px;
    display: inline-block;
}

/* 제품 */
.p_lists{
	overflow:hidden;
    padding-left: 80px;
    margin: auto;
    /* outline: solid 1px rgb(0, 55, 255); */
}
.p_lists ul{
    color: #555;
    overflow: auto; /* 스크롤 바 추가 */
    white-space: nowrap; /* 수평 정렬 */
}
.p_lists ul li{
	width:266px;
	margin:0 9px;
    display: inline-block;
    float: none;
}


.p_lists ul li .info{
	height:102px;
	background:#fff;
	padding: 0;
	text-align:left;
    /* outline: solid 1px rgb(0, 255, 76); */
}
.p_lists ul li .info .cate{
	margin:33px 0 5px;
	font-size:16px;
    color:#b3b3b3;
}
.p_lists ul li .info .name{
    font-size:22px;
    color:#000;
    font-weight:600;
}
.thum {
    width: 266px; 
}
.thum img {
    width:266px;
    height: 390px;
}
.cate{
    width: 206px;
    font-size: 20px;
}
.info{
    width: 266px;
    /* outline: solid 1px rgb(255, 0, 0); */
}
.name{
    width: 206px;
    height: 20px;
    font-size: 24px;
}
.name2{
    width: 206px;
    height: 20px;
    font-size: 18px;
    color: #000;
}

.wrapper_ul {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

/* 스크롤바의 너비 */
.wrapper_ul::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
}

/* 스크롤바 스타일링 */
.wrapper_ul::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* 스크롤바 핸들 스타일링 */
.wrapper_ul::-webkit-scrollbar-thumb {
    background: #cdcdcd; 
    border-radius: 4px; 
}

/* 핸들에 마우스 호버 */
.wrapper_ul::-webkit-scrollbar-thumb:hover {
    background: #8f8f8f;
}



/* news */
.news_inner{
    /* outline: solid 1px rgb(255, 0, 144); */
    width: 100%;
    height: 90%;
    justify-content: space-between;
    display: flex;
    position: relative;
}

.title_box3{
    /* outline: solid 3px rgb(0, 255, 72); */
    width: 328px;
    height: 180px;
    display: block;
    line-height: 1.2;
    margin: auto 0;
}
.title_box3 h2{
    font-size: 3vw;
}
.title_box3 h2 span{
    font-size: 4vw;
}

.news .view_more{
    margin-top: 26.5px;
}

.news_bc{
    width: 60vw;
    position: absolute;
    top: 10px;
    right: 0;
}
.news_bc2{
    width: 40vw;
    position: absolute;
    bottom: 10px;
    left: 0;
}

.news .list_sect{
    /* outline: solid 3px rgb(85, 0, 255); */
    width: 1100px;
    height: 310px;
    width: 50vw;
    margin: auto 0 auto;
}

.news .list_sect li:first-of-type {
    border-top: 1px solid black;
    width: 100%;
}

.news .list_sect li {
    border-bottom: 1px solid black;
    width: 100%;
}

.news .list_sect li:hover {
        background: #f9f9f9;
    }

.news .list_sect li a {
    padding: 30px 0;
    display: flex;
    gap: 50px;
    
}
.news .list_sect .list_wrap{
    display: flex;
    gap: 50px;
}
.news .list_sect .cate_news {
    color: #FF8A00;
    font-size: 1vw;
    font-weight: bold;
}

.news .list_sect .num {
    font-weight: 800;
    font-size: 3vw;
    color: black;
    text-align: center;
}

.news .list_sect .num_det {
    font-size: 1.2vw;
    font-weight: 600;
    color: black;
    text-align: center;
}

.news .list_sect .text_sect {
    width: 900px;
}

.news .list_sect .title {
    font-size: 1.8vw;
    font-weight: 600;
    color: black;
    word-break: break-all;
}

.news .list_sect .txt {
    color: gray;
    font-size: 1.1vw;
    margin-top: 10px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: keep-all;
}

/* sns */
.sns_inner{
    /* outline: solid 1px rgb(255, 0, 144); */
    width: 100%;
    height: 100%;
    justify-content: space-between;
    display: flex;
}
/* 왼 */
.left_wrap{
    
/*     outline: solid 3px rgb(85, 0, 255); */
}
.ins p {
    font-size: 2vw;
    -webkit-transform: rotate(-90deg);
/*     outline: solid 3px rgb(85, 0, 255); */
    position: absolute !important;
    flex: none !important;
    left: 3vw;
    font-style: normal;
    text-align: right;
    /* margin: 70px 45px; */
    margin: 4vw 2vw;
}
.ins p a{
    text-decoration: none;
    color: #FF8A00;
    font-weight: 300;
}
.left_img img{
    width: 32vw;
    margin-left: 3vw;
}
.ins_id{
    font-size: 2vw;
    text-align: right;
}
.ins_id a{
    text-decoration: none;
    color: #000;

}
/* 오 */
.right_wrap{
    
/*     outline: solid 3px rgb(255, 94, 0); */
}

.sns_icon{
    /* outline: solid 3px rgb(255, 0, 149); */
    width: 4vw;
    height: 12vw;
    float: right;
    white-space : nowrap
}

.sns_sect{
/*     outline: solid 3px rgb(255, 0, 149); */
    margin-top: 10px;
}

.sns_sect span i{
    font-size: 3vw;
}
.sns_sect .sp01 i{
    font-size: 2.5vw;
}
.sns_sect .sp02 i{
    font-size: 2.8vw;
}

.right_img{
    margin-top: 22vw;
    /*     outline: solid 3px rgb(255, 0, 149); */
}
.right_img a{
    text-decoration: none;
}
.right_img p{
    font-size: 2vw;
    color: #FF8A00;
    font-weight: 300;
}
.right_img img{
    width: 40vw;
}
.right_img h1{
    font-size: 2vw;
    font-weight: bold;
    color: #000;
    float: right;
    line-height: 1.2;
    text-align: right;
}
/* contact */
.contact_wrap{
    width: 100%;
    height: 100%;
    /* outline: solid 3px rgb(0, 255, 38); */
    padding: 5vw 0;
}
.txt_box h3{
    font-size: 2.2vw;
    color: #FF8A00;
    font-weight: bold;
    white-space : nowrap
}
.txt_box h1{
    font-size: 64px;
    color: #000;
    font-weight: bold;
}
.txt_box{
    line-height: 1.2;
/*     outline: solid 3px rgb(0, 255, 38); */
    height: 200px;
    width: 240px;
}
.orange{
    color: #FF8A00;
    display: inline-block;
    transform: scale(3) translate(1px, 0px);
    margin-right: 5px;
}

.c_wrap{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    /* outline: solid 3px rgb(0, 255, 38); */
}
.type_box{
    width: 45%;
    height: 28vw;
    padding: 0;
    margin: auto 0;
}
.type_box p{
    font-size: 1.2vw;
    margin-bottom: 10px;
}
.write_box{
    padding: 0;
/*     outline: solid 3px rgb(255, 0, 149); */
    margin: auto 0;
}
.write_box p{
    font-size: 1.2vw;
    margin-bottom: 10px;
}
.write_box{
    width: 45%;
    height: 28vw;
    padding: 0;
/*     outline: solid 3px rgb(255, 0, 149); */
    margin: auto 0;
}

label{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}
input[type="radio"] {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    line-height: 0;
    font-size: 0;
}
/* 왼 */
.c_wrap .type_box label .slot {
    padding: 0 1vw;
}

.c_wrap .type_box label .slot .icon {
    width: 40px;
    border-radius: 4px;
    margin-right: 20px;
    background-color: white;
}

.c_wrap .type_box label .slot .icon {
    width: 45px;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 35px
}

.c_wrap .type_box label .slot p {
    transition: 0.5s ease;
    color: #000;
    margin-top: 10px;
}

.c_wrap .type_box label .slot * {
    position: relative;
}
.c_wrap .type_box label .slot::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #FF8A00;
    position: absolute;
    right: 100%;
    top: 0;
    transition: 0.5s ease;
}
.c_wrap img {
    overflow-clip-margin: content-box;
    overflow: clip;
    display: block;
    width: 100%;
    vertical-align: top;
}

.c_wrap .type_box label .slot:hover p {
    transform: translateX(10px);
}
.c_wrap .type_box label input:checked + .slot::before {
    right: 0;
}
.c_wrap .type_box label input:checked + .slot .icon {
    background-color: #fff;
}
.c_wrap .type_box label input:checked + .slot .icon img {
    opacity: 1;
}
.c_wrap .type_box label input:checked + .slot .icon img.off {
    opacity: 0;
}
.c_wrap .type_box label input:checked + .slot p {
    color: #FF8A00;
}

/* 오 */
.c_wrap .write_box .slot {
    padding: 1vw;
}
.c_wrap .slot {
    height: 4vw;
    width: 100%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    margin-bottom: 1vw;
    border-radius: 0.5vw;
    overflow: hidden;
}
.c_wrap .write_box .slot span {
    color: #000;
    min-width: 70px;
    flex-shrink: 0;
    font-weight: 400;
    font-size: 1vw;
}
.c_wrap .write_box .slot span::after {
    content: "*";
    color: #FF8A00;
    font-weight: 500;
}
.c_wrap .write_box .slot input {
    width: 100%;
}
input, textarea{
    vertical-align: middle;
    border: 0 none;
    background-color: transparent;
}

.c_wrap .write_box .slot.message {
    align-items: flex-start;
    padding: 25px;
    height: auto;
}
.c_wrap .write_box .slot.message span::after {
    display: none;
}
.c_wrap .write_box .slot.message textarea {
    width: 100%;
}


input[type="text" i] {
    padding-block: 1px;
    padding-inline: 2px;
}
input[type="text"],input[type="email"], input[type="button"], input[type="submit"], textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
}

button, input[type="button"],input[type="submit"] {
    cursor: pointer; 
    overflow: visible; 
    -webkit-appearance: button;
}
input[type="radio"] { 
    display: block; 
    width: 0; 
    height: 0; 
    overflow: hidden; 
    opacity: 0; line-height: 0; 
    font-size: 0;
}

textarea {
    overflow: auto; /* 스크롤 */
    resize: none; /* 크기 조절 불가능 */
    display: block; 
    width: 100%; 
    height: 100%;
    box-sizing: border-box;
    padding: 0.5vw;
    padding-left: 0;
    font-size: 1vw;
    
}

label{ cursor: pointer;}
img { display: block; width:100%; vertical-align: top;}

input[type="text"], input[type="content"] {
    font-size: 1vw;
}
input[type="email"]{
    font-size: 1vw;
}
/* 체크박스 */


.c_wrap .write_box .submit_box {
    margin-top: 2vw;
    line-height: 1.5vw;
}
.c_wrap .write_box .submit_box .inq_agree a {
    opacity: 0.7;
    text-decoration: underline;
    font-size: 0.8vw;
    color: rgb(39, 39, 39);
    margin-left: 29px;
}
.c_wrap .write_box .submit_box .inq_agree span {
    margin-left: 11px;
}

.c_wrap .write_box .submit_box .inq_agree {
    position: relative;
    font-weight: 500;
    color: #000;
}
.c_wrap .write_box .submit_box .inq_agree label {
    color: #000;
    cursor: pointer;
    font-size: 1vw;
}

.c_wrap .write_box .submit_box #button_submit {
    width: 10vw;
    height: 3vw;
    background-color: #000;
    border-radius: 0.5vw;
    color: #fff;
    float: right;
    font-size: 1vw;
    cursor: pointer;
    font-weight: 500
}


.c_wrap .write_box .submit_box .inq_agree label input[type="checkbox"] {
    appearance: none; /
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    margin: 0;
    width: 1em; 
    height: 1em;
    border: 2px solid #FF8A00; 
    border-radius: 50%; 
    cursor: pointer;
}
/* 체크 표시 */
.c_wrap .write_box .submit_box .inq_agree label input[type="checkbox"]:checked::before {
    content: ""; 
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #FF8A00; 
    opacity: 1; 
}



/* footer */
footer{
    background-color: #000;
    color: white;
}
.ft{
    width: 100%;
    height: fit-content;
    /* outline: solid 3px rgb(0, 21, 255); */
}
.footer_inner{
    justify-content: space-between;
    display: flex;
    padding: 40px 0; 
}
/* 왼 */
.left{
    width: 60%;
    height: 100%;
/*     outline: solid 3px rgb(255, 221, 0); */
    margin: auto 0;
}
footer .logo{
    font-size: 4vw;
    font-weight: bold;
    margin-top: 1vw;
}

.footer_inner a{
    text-decoration: none;
    color: white;
}

.cs{
    /* outline: solid 3px rgb(255, 221, 0); */
    width: 100%;
    height: 7vw;
    margin-top: 20px;
}
.cs .contact_menu p{
    font-size: 1.4vw;
    font-weight: 600;
}

.cs .contact_menu li a button{
    background-color: #FF8A00;
    width: 15vw;
    height: 4vw;
    border: none 0;
    border-radius: 0.5vw;
    color: #000;
    font-size: 1.2vw;
    font-weight: bold;
    margin-top: 1vw;
    cursor: pointer;
}

.info_detail{
    /* outline: solid 3px rgb(255, 221, 0); */
    line-height: 2;
    margin-top: 40px;
}
.info_detail p{
    font-size: 1vw;
    font-weight: 300;
}
.info_detail span{
    font-weight:600;
}

/* 오 */
.right{
    width: 40%;
    height: 100%;
    /* outline: solid 3px rgb(255, 221, 0); */
    margin: auto 0;
    font-size: 1.2vw;
    text-align: right;
}
.right .footer_menu{
/*     outline: solid 3px rgb(255, 221, 0); */
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
}

.etc_menu{
    height: 4vw;
    /* outline: solid 3px rgb(255, 221, 0); */
    margin-top: 50px;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1vw;
}


/* arrow */
.topbtn{
    position: fixed;
    bottom: 5%;
    right: 1.5%;
    width: 4vw;
    height: 4vw;
    z-index: 2;
    border-radius: 50%;
    background-color: #FF8A00;
    text-align: center;
    line-height: 3.6vw;
    font-size: 2vw;
}
.topbtn a{
    color: #000;
}